#djg_i18n_generator {}
#djg_i18n_generator  .save_file, #djg_i18n_generator  .translate_file {cursor:pointer;}
#djg_i18n_generator  textarea.content{white-space: nowrap; height: 300px; margin: 10px 0;}